body{
  margin:0px;
  text-align: center;
  font-size: 15px;
}

span{
  font-size: 20px;
}

a{
  text-decoration: none;
  color:black;
}
a:visited{
  color:black ;
}
a:hover{
  text-decoration: none;
  color:black;
}
a:focus{
  text-decoration: none;
  color:black;
}

ul{
  list-style: none;
}
#main{
  height: 100vh;

}

.list-btn{
  border-bottom:  1px solid black;
}

navbar-brand-customize{
  font-size: 1.5rem;

}
